h1{
    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;
}
.contenedorEntradas{
    display: flex;
}
.entrada{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 2rem;
}
.entrada h2{
    font-size: 2em;
    margin-bottom: 1rem;
}
.entrada img{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.7rem;
}
.textoEntrada{
    font-family: 'Inter', sans-serif;
    text-align: justify;
}
.textoEntrada span{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.introEntrada{
    font-family: 'Inter', sans-serif;
    text-align: justify;
}
.continuar{
    font-size: 1.3rem;
    color: rgb(60, 6, 255);
    margin-bottom: 1.5rem;
}
.entrada h4{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
#autor{
    font-size: 1.2rem;
}
.masEntradas{
    font-size: 3rem;
    text-align: center;
    margin: 2rem auto;
}
.oculto{
    visibility: hidden;
    display: none;
}
.separador{
    width: 100%;
    height: 0.5rem;
    background-color: rgb(235, 235, 235);
}
/*RESPONSIVE PC*/
@media screen and (min-width:768px){
    h1{
        margin: 0;
        padding-top: 5rem;
    }
    main{
        width: 70%;
        margin: 0 auto;
    }
    .contenedorEntradas{
        width: 70%;
        margin: 0 auto;
    }
    .entrada img{
        width: 60%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }

}
/*FIN RESPONSIVE PC*/