/*FOOTER*/
.redes{
    height: 13rem;
    background-color: #99cccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.redes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.redes ul li{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #222;
    margin: 0.3rem;
    font-size: 1.5rem;
}
.redes ul li a{
    color: white;
    padding: 0.6rem;
}
.redes ul li:hover{
    background-color: #333;
}
.redes p{
    font-size: 1.8rem;
}
.credito{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
}
.credito p{
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin-right: 1rem;
    color: white;
}
.credito a{
    color: white;
}
/*FIN FOOTER*/
