.frase{
    background-color: #A9CDDF;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2rem;
}
.frase i{
    font-size: 3rem;
    color: white;
}
.frase p{
    font-size: 0.9rem;
    color:white;
    font-style: italic;
    font-family: 'Inter', sans-serif;
}
.frase h3{
    color: black;
    background-color: #B096CD;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
}