.servicios{
    margin: 3rem auto;
}
.servicios h2{
    font-size: 2rem;
}
.contenedorServicios{
    width: 70%;
    margin: 0 auto;
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
    background-color: pink;
}
.servicio img{
    width: 50%;
}
.nombreServicio{
    font-size: 1.5rem;
}
.comentarioServicio{
    position: absolute;
    visibility: hidden;
}
.comentarioServicio p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-top: 1rem;
}
.servicio:hover .comentarioServicio{
    position: relative;
    visibility: visible;
}