.servicios{
    margin: 3rem auto;
}
.contenedorServicios{
    width: 70%;
    margin: 0 auto;
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
    background-color: pink;
}
.servicio img{
    width: 50%;
}
.comentarioServicio{
    position: absolute;
    visibility: hidden;
}
.servicio:hover .comentarioServicio{
    position: relative;
    visibility: visible;
}