@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
/*FIN GENERAL*/

/*HEADER*/
.navBar{
    background-color:#222;
    display: block;
    padding: 0.7rem 1.3rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
.navMenu{
    background-color: #555;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5;
    position: absolute;
}
.navMenu li a{
    display: block;
    padding: 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.navSubMenu li a{
    display: block;
    padding: 1rem 2.3rem;
    color: white;
    background-color: #333;
}
.navSubMenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.mostrar{
    margin-left: 0;
}
/*FIN HEADER*/

/*MAIN*/
.irAlCielo{
    border-radius: 50px;
    background-color: #222;
    opacity: 0.5;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 4rem;
    width: 4rem;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
/*----presentación----*/
.presentacion{
    margin-top: 1.3rem;
    text-align: justify;
    padding: 1.3rem;
}
.presentacion h1{
    text-align: center;
    font-size: 3rem;
}
/*----fin presentación----*/
/*FIN MAIN*/


/*RESPONSIVE PC*/
@media screen and (min-width:768px){
    .logos{
        height: auto;
        justify-content: center;
    }
    .logos a{
        width:auto;
        margin:1rem 3rem;
    }
    .navBar{
        display: none;
    }
    .navMenu{
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navMenu li a:hover{
        background-color: #333;
    }
    .btnSubMenu{
        position: relative;
    }
    .navSubMenu{
        position: absolute;
        overflow: visible;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
    }
    .navSubMenu li a:hover{
        background-color: #555;
    }
    .btnSubMenu:hover .navSubMenu{
        opacity: 1;
        visibility: visible;
    }

}
/*FIN RESPONSIVE PC*/
